<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.umeng.test">


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MyImageViewActivity"></activity>

        <activity
            android:name="com.photoselector.ui.PhotoSelectorActivity"
            android:label="图片选择" >
        </activity>
        <activity
            android:name="com.photoselector.ui.PhotoPreviewActivity"
            android:label="图片预览" >
        </activity>
        <activity
            android:name="com.photeselector.activity.CuttingsPhotoActivity"
            android:label="截取图片" >
        </activity>
        <activity
            android:name="com.photoselector.ui.PhotoSelectorPreview"
            android:label="点击图片" >
        </activity>
        <activity
            android:name="com.photeselector.activity.MyImageViewActivity"
            android:label="点击图片" >
        </activity>

        <meta-data android:value="549abeb9fd98c5b9e80005e5" android:name="UMENG_APPKEY"></meta-data>
        <meta-data android:value="feng" android:name="UMENG_CHANNEL"/>
    </application>

</manifest>